<div class="flex justify-end mr-3">
  <button
    class="blue-btn"
    (click)="toggleUpdateForm()"
    [ngClass]="{ 'bg-red-400 border-red-500': showUpdateForm == true }"
  >
    {{ updateButtonText }}
  </button>

  @if(userType == 'ADMIN'){
  <button class="blue-btn" routerLink="/addRoom">Add Room</button>
  }

  <button class="blue-btn" (click)="logout()">Logout</button>
</div>
<div class="flex justify-center mt-5">
  @if(showUpdateForm){
  <div class="pt-5 w-[45%] border-2 border-slate-400 rounded">
    <form [formGroup]="updateUserForm" (ngSubmit)="onUpdateSubmit()">
      <div class="flex justify-start ml-0 pl-0 my-3">
        <div class="w-[50%]">
          <label class="mx-6">First Name</label>
          <input
            type="text"
            name="firstName"
            formControlName="firstName"
            class="sim-input"
          />
        </div>
        <div class="w-[50%]">
          <label class="mx-6">Last Name</label>
          <input
            type="text"
            name="lastName"
            formControlName="lastName"
            class="sim-input"
          />
        </div>
      </div>
      <div class="flex justify-start ml-0 pl-0 my-3 mr-4">
        <div class="w-[30%]">
          <label class="mx-6">phone</label>
          <input
            type="text"
            name="phone"
            formControlName="phone"
            class="sim-input"
          />
        </div>
        <div class="w-[65%]">
          <label class="mx-6">Address</label>
          <input
            type="text"
            name="address"
            formControlName="address"
            class="sim-input"
          />
        </div>
      </div>

      <div class="flex justify-start ml-0 pl-0">
        <div>
          <label class="mx-6">City</label>
          <input
            type="text"
            name="City"
            formControlName="city"
            class="sim-input"
          />
        </div>
        <div>
          <label class="mx-6">State</label>
          <input
            type="text"
            name="state"
            formControlName="state"
            class="sim-input"
          />
        </div>
        <div>
          <label class="mx-6">zip</label>
          <input
            type="text"
            name="zip"
            formControlName="zip"
            class="sim-input"
          />
        </div>
        <div>
          <label class="mx-6">Country</label>
          <input
            type="text"
            name="country"
            formControlName="country"
            class="sim-input"
          />
        </div>
      </div>
      <div class="mt-8 mx-4">
        <button class="blue-btn">Update</button>
      </div>
    </form>
  </div>
  }
</div>

@if(!showUpdateForm){
<h1 class="text-3xl text-center font-bold mb-2">
  Hello
  <span class="text-slate-800">{{ this.currentUserProfile().username }}</span>
</h1>
<div class="flex justify-center">
  <div
    class="bg-white shadow-lg border-white border-2 rounded-lg w-[45%] p-2 text-lg"
  >
    <div class="flex justify-start m-2 flex-wrap">
      <p class="m-2">
        <span class="text-slate-600 font-bold">First name:</span>
        {{ this.currentUserProfile().firstName }}
      </p>
      <p class="m-2">
        <span class="text-slate-600 font-bold">Last name:</span>
        {{ this.currentUserProfile().lastName }}
      </p>
      <p class="m-2">
        <span class="text-slate-600 font-bold">UserType:</span>
        {{ this.currentUserProfile().userType }}
      </p>
    </div>
    <div class="flex justify-start m-2 flex-wrap">
      <p class="m-2">
        <span class="text-slate-600 font-bold">Email:</span>
        {{ this.currentUserProfile().email }}
      </p>
      <p class="m-2">
        <span class="text-slate-600 font-bold">Phone:</span>
        {{ this.currentUserProfile().phone }}
      </p>
    </div>
    <div class="flex justify-start m-2 flex-wrap">
      <p class="m-2">
        <span class="text-slate-600 font-bold">Address:</span>
        {{ this.currentUserProfile().address }}
      </p>
      <p class="m-2">
        <span class="text-slate-600 font-bold">City:</span>
        {{ this.currentUserProfile().city }}
      </p>
    </div>
    <div class="flex justify-start m-2 flex-wrap">
      <p class="m-2">
        <span class="text-slate-600 font-bold">State:</span>
        {{ this.currentUserProfile().state }}
      </p>
      <p class="m-2">
        <span class="text-slate-600 font-bold">Zipcode:</span>
        {{ this.currentUserProfile().zip }}
      </p>
      <p class="m-2">
        <span class="text-slate-600 font-bold">Country:</span>
        {{ this.currentUserProfile().country }}
      </p>
    </div>
  </div>
</div>
} @if(!isAdmin){

<nav class="border-b-4 border-blue-400 mb-4 mt-2">
  <ul class="flex justify-start">
    <li
      (click)="updateBookingsView(1)"
      class="mx-8 text-[20px] border-r-4 border-l-4 border-t-4 cursor-pointer border-blue-400 rounded p-2 bg-blue-200"
      [ngClass]="{ 'underline bg-blue-300': activeTab == 1 }"
    >
      Upcoming
    </li>
    <li
      (click)="updateBookingsView(2)"
      class="mx-8 text-[20px] border-r-4 border-l-4 border-t-4 cursor-pointer border-blue-400 rounded p-2 bg-blue-200"
      [ngClass]="{ 'underline bg-blue-300': activeTab == 2 }"
    >
      Current
    </li>
    <li
      (click)="updateBookingsView(3)"
      class="mx-8 text-[20px] border-r-4 border-l-4 border-t-4 cursor-pointer border-blue-400 rounded p-2 bg-blue-200"
      [ngClass]="{ 'underline bg-blue-300': activeTab == 3 }"
    >
      Previous
    </li>
  </ul>
</nav>

<main>
  <div>
    @for(booking of visibleBookings; track booking.bookingId){
    <div
      class="flex justify-between border-2 p-2 bg-white shadow-lg rounded-lg border-white mb-2 w-[95%] mx-auto"
    >
      <div class="flex justify-start">
        <div class="mx-2">
          <img
            src="{{ booking.roomMainImgSrc }}"
            alt="room_image"
            class="w-[60px] h-full rounded-lg shadow-lg"
            (click)="goToRoom(booking.roomId)"
          />
        </div>
        <div>
          <h1>booking id: {{ booking.bookingId }}</h1>
          @if(this.updatingBooking!=null && this.updatingBooking ==
          booking.bookingId){
          <p>
            Booked from
            <input
              type="date"
              class="sim-input-no-width"
              [formControl]="newStartDate"
            />
            to
            <input
              type="date"
              class="sim-input-no-width"
              [formControl]="newEndDate"
            />
            <button (click)="onClickUpdateBooking(booking)" class="blue-btn">
              submit
            </button>
          </p>
          }@else {
          <p>Booked from {{ booking.startDate }} to {{ booking.endDate }}</p>
          }

          <p>
            Address: {{ booking.roomAddress }}, {{ booking.roomCity }},
            {{ booking.roomState }},{{ booking.roomZip }}
            <span class="ml-3">Phone: {{ booking.roomPhone }}</span>
          </p>
        </div>
      </div>
      @if(this.activeTab==1){
      <div>
        <button class="mx-2 h-full" (click)="updateBooking(booking)">
          <svg
            class="h-8 w-8 text-blue-500 hover:fill-blue-400"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"
            />
            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
            <line x1="16" y1="5" x2="19" y2="8" />
          </svg>
        </button>
        <button class="mx-2 mt-1 h-full" (click)="deleteBooking(booking)">
          <svg
            class="h-8 w-8 text-red-500 hover:fill-red-400"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="10" />
            <line x1="15" y1="9" x2="9" y2="15" />
            <line x1="9" y1="9" x2="15" y2="15" />
          </svg>
        </button>
      </div>
      }
    </div>
    }
  </div>
</main>
}@else {
<h1 class="text-3xl text-center mt-5">Your Rooms</h1>
  @for(room of currentUserProfile().rooms; track room.roomId){
    <div class="flex justify-between mx-4 my-2 border-2 border-white bg-white rounded-lg shadow-lg p-2">
      <div class="flex">
        <div class="mx-2">
          <img
            src="{{ room.mainImgSrc}}"
            alt="room_image"
            class="w-[100px] h-full rounded-lg shadow-lg"
            (click)="goToRoom(room.roomId)"
          />
        </div>
         <div>
            <!-- Details -->
             <p><span class="font-bold text-xl ml-2">{{room.roomName}}</span><span class="ml-2 text-xl">price: ${{room.pricePerNight}}</span><span class="text-xl ml-2">kind: {{room.roomType}}</span></p>
             <p class="mt-2 ml-2 text-lg">
              Address: {{ room.roomAddress }}, {{ room.roomCity }},
              {{ room.roomState }},{{ room.roomZip }}
              <span class="ml-3">Phone: {{ room.roomPhone }}</span>
            </p>
         </div>
      </div>
      <div class="flex flex-col justify-around">
        <!-- Update & Delete Buttons! -->
         <button class="blue-btn" (click)="onEditRoom(room.roomId)">Edit</button>
         <button class="red-btn" (click)="deleteRoom(room.roomId)">Delete</button>
      </div>
    </div>
  }
}
